<div>
    <a href="#/templates">Go Back</a>
    <br>
    <br>
    <br>
    <div class="col-md-4">
        <img class="img-full" src="img/{{mainImage}}">
    </div>
    <div class="col-md-8">
        <h3>Blue Templates</h3>
        <p>Logistics WP Theme is a great option for those who want to build a stylish and functional business website.
            With this custom theme the customers will be able to reach your website from their smartphones as the
            content will automatically adjust to any screen resolution. A full-width header image slider is the perfect
            place to efficiently convey what your business is about. The theme is primarily intended for transportation
            companies but it can be easily adjusted to suit any other business as well.</p>
        <h4>$80</h4>
    </div>
</div>